$greenland: #189ca9;
$basic-2: #f7f9fc;
$basic-3: #edf1f7;
$basic-4: #e4e9f2;
$basic-6: #8f9bb3;
$basic-7: #2e3a59;
$basic-9: #192038;
$dark-1: #292d32;
$dark-2: #222b45;
$warning-5: #ffaa00;
$danger-5: #ff3d71;
$success-6: #00b887;
$link: #3366ff;
$white: #fff;
$black: #000;
