.fc .fc-daygrid-day-number {
  color: $dark-1;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

// .fc .fc-daygrid-day-frame {
//     overflow: hidden !important;
// }
.fc-daygrid-event-harness {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.fc-daygrid-day-events {
  padding: 4px 12px !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin: 0 !important;
}

.fc-col-header-cell-cushion {
  color: $basic-7;
  font-size: 12px;
  line-height: 16px;

  &:hover {
    color: $basic-7;
  }
}

.fc-h-event {
  border: 1px solid transparent !important;
  border-radius: 8px !important;
}

.fc-event-main {
  border-radius: 8px !important;

  span {
    display: flex;
    padding: 4px 10px;
  }
}

.fc-h-event .fc-event-main-frame {
  align-items: center !important;
  justify-content: center !important;
  padding: 4px 10px;
}

.fc-h-event .fc-event-title-container {
  display: flex;
  flex-grow: initial !important;
  flex-shrink: initial !important;
  align-items: center;
}

.fc-event-time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.fc-h-event .fc-event-time {
  overflow: visible !important;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 8px !important;
}

.fc-h-event .fc-event-title {
  font-size: 12px;
  line-height: 16px;
  text-overflow: ellipsis;
}

.fc-daygrid-day-bottom {
  width: fit-content;

  a {
    display: inline-block;
    padding: 4px 10px !important;
    border-radius: 8px;
    background: $basic-4;
    color: $basic-7;
    font-size: 12px;
    line-height: 16px;
  }
}

.fullcalendar-tooltip {
  display: flex;
  align-items: center;
  overflow: hidden;
}
