.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
  padding-top: 20px !important;
  min-height: 120px !important;
  max-width: 100%;
  border: 1px dashed $greenland !important;
  border-radius: 8px !important;
  background: $greenland !important;

  .dz-default.dz-message {
    color: $basic-7;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

.img-thumbnail_custom {
  padding: .15rem;
  max-width: 10%;
  height: auto;
  border: 1px solid #e2e7f1;
  border-radius: .3rem;
  background-color: #f3f4f7;
  transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  cursor: pointer !important;
}

.img-thumbnail_custom:hover {

  /* IE 9 */
  transform: scale(1.5);

  /* Safari 3-8 */
  transform: scale(1.5);
}

.img-thumbnail_custom_edit {
  padding: .15rem;
  max-width: 10%;
  height: auto;
  border: 1px solid #e2e7f1;
  border-radius: .3rem;
  background-color: #f3f4f7;
  transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  cursor: pointer !important;
}

.img-thumbnail_custom_edit:hover {

  /* IE 9 */
  transform: scale(1.5);

  /* Safari 3-8 */
  transform: scale(1.5);
}

.dropzone .dz-preview {
  margin: 0 auto !important;
  min-height: 100% !important;
  width: 100%;
  height: 100% !important;
}

.dropzone .dz-preview .dz-details {
  position: relative !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 0;
  padding: 0 !important;
  min-width: 100%;
  max-width: 100%;
  background-color: $greenland !important;
  color: $basic-7 !important;
  color: rgb(0 0 0 / 90%);
  font-size: 13px;
  line-height: 150%;
  text-align: center !important;
  opacity: 1 !important;
}

.dropzone .dz-preview.dz-image-preview {
  background-color: transparent;
}

.dropzone .dz-preview.dz-file-preview .dz-details {
  position: relative !important;
}

.dropzone .dz-preview .dz-details .dz-size {
  margin: 0 !important;
}

.dz-message {
  margin: 0 !important;
}

.dropzone .dz-preview .dz-remove {
  bottom: 0 !important;
  margin-top: 10px;
  margin-left: 0 !important;
  padding: 4px 8px !important;
  width: fit-content;
  width: fit-content;
  width: fit-content;
  border: 1px solid $danger-5 !important;
  border-radius: 24px;
  background-color: $danger-5;
  color: $danger-5;
  font-size: 12px !important;
}

.dropzone .dz-preview .dz-remove:hover {
  border-color: $danger-5;
  background-color: $danger-5;
  color: #fff;
}

.img-thumbnail-custom {
  padding: .15rem;
  max-width: 10%;
  height: auto;
  border: 1px solid #e2e7f1;
  border-radius: .3rem;
  background-color: #f3f4f7;
  transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  cursor: pointer !important;
}

.vue-dropzone > .dz-preview .dz-error-mark,
.vue-dropzone > .dz-preview .dz-success-mark {
  top: 50% !important;
  left: 50% !important;
  width: auto !important;
  transform: translate(-50%, -50%) !important;
}

.dropzone-custom-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;

  h2 {
    margin-bottom: 8px;
    color: $basic-7;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  span {
    color: $basic-6;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

  button {
    margin: 12px 0 16px;
    padding: 10px 40px;
    border-radius: 6px;
    background: $greenland;
    color: $white !important;
  }
}
